@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

nav {
  padding: 20px 100px;
  height: 100px;
  background-color: white;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
} */

.logo {
  width: 70px;
  margin-left: 100px;
  border-radius: 50px;
}

.nav-text {
  font-weight: 500;
  margin-right: 100px;
}

.nav-text a {
  margin-left: 65px;
  font-size: 16px;
  text-transform: uppercase;
  color: #303030;
}

.nav-text a:hover {
  color: #ef9e5c;
}

.btn-contact {
  margin-right: 100px;
  font-weight: 500;
  transition: 0.3s;
  background-color: #ef9e5c;
  text-align: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1;
  width: 140px;
  height: 50px;
  border: none;
}

.btn-contact:hover {
  border: 1px solid #ef9e5c;
  background-color: transparent;
  color: #000000;
}

/* Hero Section */

.title {
  text-align: center;
  /* margin-top: 30px; */
  position: relative;
}

.title h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 3;
  margin-top: 30px;
}

.title p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1;
}

.button-hero {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1;
  width: 660px;
  height: 50px;
  font-size: 14px;
  transition: 0.3s;
  background-color: #ef9e5c;
  border: none;
}

.button-hero:hover {
  border: 1px solid #ef9e5c;
  background-color: transparent;
  color: #000000;
}

.image-hero {
  text-align: center;
  margin-top: 50px;
}

.image-hero1 {
  width: 670px;
  position: relative;
}

.line1 {
  position: absolute;
  transform: translatey(0px);
  overflow: hidden;
  margin-top: 25%;
  opacity: 50%;
}

.line2 {
  position: absolute;
  transform: translatey(0px);
  overflow: hidden;
  opacity: 50%;
  margin-top: -30px;
}

.feature-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.images-feature {
  margin-left: 100px;
}

.text-feature {
  margin-left: 10%;
  max-width: 500px;
  align-items: center;
  margin-top: 100px;
}

.text-feature h3 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 15px;
}

.text-feature p {
  font-size: 18px;
}

.text-features h3 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 15px;
}

.text-features p {
  font-size: 18px;
}

.features1 {
  margin-top: 100px;
}
